<nav class="navbar-dark" id="na-1">
    <div class="container">
        <div class="row">
            <div class="col-md-0" id="img-1">
                <a href="definir la ruta de entra login">
                    <img src="https://imgs.search.brave.com/_q8addk7nMPZghxcDnq4-R7eC88062MJ4pkYFzEN3SE/rs:fit:273:163:1/g:ce/aHR0cHM6Ly93d3cu/cmVnaXN0cmFkdXJp/YS5nb3YuY28vSU1H/L3JuZWMtbG9nby5w/bmc" alt="">
                </a>
            </div>
            <div class="col" id="img-2">
                <img src="https://imgs.search.brave.com/oNHEdkFeCBrdB-m-HXtOcIFkOmreqLDhOtfpZ_H7zlU/rs:fit:980:982:1/g:ce/aHR0cDovL2Nkbi5v/bmxpbmV3ZWJmb250/cy5jb20vc3ZnL2lt/Z181Njg2NTYucG5n" alt="">
            </div>
        </div>
    </div>
</nav>
<nav class="navbar-dark" id="na-2">
   <div class="container">
    <div class="row">
        <div class="col-md-4" id="informacion"> <font [size]="5">Informacion</font></div>
        <div class="col-md-8" id="Saludo"><font [size]="5">Bienvenido Administrador</font></div>
    </div>
   </div>
</nav>
<h1>Listado de mesas</h1>
<div class="div card">
    <div class="card-body">
        <table class="table-hover">
            <thead>
                <th scope="col">
                    <input type="text" [(ngModel)]="selectedMesas.cant_inscritos" placeholder="Cantidad de inscritos">
                </th>
                <th scope="col-md-8">
                    <button class="btn btn-success" >Nuevo</button>
                </th>
                <th scope="col">
                    <button type="button" class="btn btn-primary" (click)="actualizar()">Actualizar</button>
                </th>
            </thead>
        </table>
        <hr />
        <table class="table table-hover">
            <thead>
                <th scope="col">ID</th>
                <th scope="col-md-4" >Cantidad de Inscritos</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
            </thead>
            <tbody>
                <tr *ngFor ="let mesas of mesasArray"
                [class.active] = "mesas == selectedMesas">
                    <td>{{mesas.idmesa}}</td>
                    <td>{{mesas.cant_inscritos}}</td>
                    <td>
                        <button class="btn btn-primary" id="btn1" [(ngModel)]="selectedMesas.cant_inscritos"
                        (click)="edit(mesas)">
                            Edit
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger" id="btn2"
                        (click)="delete(mesas)">
                            Borrar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>